<a href="https://colab.research.google.com/github/KusumaatmaSyafadhi/kusumaatmas/blob/main/19_0504_0064_Old_Arcade_Game_With_SQLITE_DB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Calling the dependencies

In [37]:
import sqlite3
from sklearn import preprocessing
import os.path
import sys
from sqlalchemy import create_engine
import numpy as np
import pandas as pd

# DB Connection and Cursor

In [20]:
#Connection
ichconn= create_engine('sqlite:////content/old_arcade.db')
con = ichconn.raw_connection()

In [21]:
cur = con.cursor()

In [ ]:
con.commit() # Menjalin komitmen yang serius :V

In [25]:
milih = cur.execute("Select*from actions")

In [26]:
act1234 = milih.fetchall()

In [27]:
act1234

[('Punch', 'Punch', 'Kick', 'Punch'),
 ('Punch', 'Kick', 'Punch', 'Special'),
 ('Kick', 'Punch', 'Special', 'Punch'),
 ('Punch', 'Special', 'Punch', 'Kick'),
 ('Special', 'Punch', 'Kick', 'Special'),
 ('Punch', 'Kick', 'Special', 'Punch'),
 ('Kick', 'Special', 'Punch', 'Kick'),
 ('Special', 'Punch', 'Kick', 'Kick'),
 ('Kick', 'Kick', 'Kick', 'Punch'),
 ('Kick', 'Kick', 'Punch', 'Special'),
 ('Special', 'Punch', 'Punch', 'Punch'),
 ('Special', 'Kick', 'Special', 'Kick')]

# Insert all data to dataframe

In [38]:
actionDF = pd.DataFrame(act1234, columns =[x[0] for x in milih.description])

In [39]:
actionDF

      act_1    act_2    act_3    act_4
0     Punch    Punch     Kick    Punch
1     Punch     Kick    Punch  Special
2      Kick    Punch  Special    Punch
3     Punch  Special    Punch     Kick
4   Special    Punch     Kick  Special
5     Punch     Kick  Special    Punch
6      Kick  Special    Punch     Kick
7   Special    Punch     Kick     Kick
8      Kick     Kick     Kick    Punch
9      Kick     Kick    Punch  Special
10  Special    Punch    Punch    Punch
11  Special     Kick  Special     Kick

In [42]:
aksi1 = actionDF['act_1']
aksi2 = actionDF['act_2']
aksi3 = actionDF['act_3']
aksi4 = actionDF['act_4']

# Convert the series into ndarray

This section is all about converting the pandas series so that it could be encoded on the next section

In [46]:
aksi1array = np.array(aksi1)

In [47]:
aksi1array

array(['Punch', 'Punch', 'Kick', 'Punch', 'Special', 'Punch', 'Kick',
       'Special', 'Kick', 'Kick', 'Special', 'Special'], dtype=object)

In [49]:
aksi2array = np.array(aksi2)

In [50]:
aksi2array

array(['Punch', 'Kick', 'Punch', 'Special', 'Punch', 'Kick', 'Special',
       'Punch', 'Kick', 'Kick', 'Punch', 'Kick'], dtype=object)

In [51]:
aksi3array = np.array(aksi3)

In [52]:
aksi3array

array(['Kick', 'Punch', 'Special', 'Punch', 'Kick', 'Special', 'Punch',
       'Kick', 'Kick', 'Punch', 'Punch', 'Special'], dtype=object)

In [53]:
aksi4array = np.array(aksi4)

In [54]:
aksi4array

array(['Punch', 'Special', 'Punch', 'Kick', 'Special', 'Punch', 'Kick',
       'Kick', 'Punch', 'Special', 'Punch', 'Kick'], dtype=object)

# Working With Inputs

## INPUT TEST

In [81]:
# Test

print('\n\t\t WELCOME TO MY SIMPLE APP')
print('\n\t\t By Kusumaatma Syafadhi 1905040064')
print('\n\t\t Please Input here (i.e. Punch, Special, or Kick):\n')

action1 = input('\t\tAction 1: ')
action2 = input('\t\tAction 2: ')
action3 = input('\t\tAction 3: ')

		 WELCOME TO MY SIMPLE APP

		 By Kusumaatma Syafadhi 1905040064

		 Please Input here (i.e. Punch, Special, or Kick):

		Action 1: Special
		Action 2: Kick
		Action 3: Kick

In [82]:
masukan_saya = []
masukan_saya.append(action1)
masukan_saya.append(action2)
masukan_saya.append(action3)
#tampilkan_act = list(masukan_saya)
print('List Aksi : ',masukan_saya)

List Aksi :  ['Special', 'Kick', 'Kick']

# Encode User Inputs

In [57]:
le = preprocessing.LabelEncoder()
act_1_encoded = le.fit_transform(aksi1array)

print(act_1_encoded)

[1 1 0 1 2 1 0 2 0 0 2 2]

In [58]:
act_2_encoded = le.fit_transform(aksi2array)
act_3_encoded = le.fit_transform(aksi3array)

print('Action 2: ', act_2_encoded)
print('Action 3: ', act_3_encoded)

Action 2:  [1 0 1 2 1 0 2 1 0 0 1 0]
Action 3:  [0 1 2 1 0 2 1 0 0 1 1 2]

In [59]:
kelas = le.fit_transform(aksi4array)
print('Action 4: ', kelas)

Action 4:  [1 2 1 0 2 1 0 0 1 2 1 0]

In [60]:
featured = zip(act_1_encoded, act_2_encoded, act_3_encoded)
hasil_list = list(featured)
print(hasil_list)

[(1, 1, 0), (1, 0, 1), (0, 1, 2), (1, 2, 1), (2, 1, 0), (1, 0, 2), (0, 2, 1), (2, 1, 0), (0, 0, 0), (0, 0, 1), (2, 1, 1), (2, 0, 2)]

In [61]:
from sklearn.naive_bayes import GaussianNB

modelkita = GaussianNB()
modelkita.fit(hasil_list,kelas)

GaussianNB()

# Predict User Next Move

In [83]:

acts_encoded = le.fit_transform(masukan_saya)
teslist = list(acts_encoded)
print('Dikasih Prediksi: ', teslist)

Dikasih Prediksi:  [1, 0, 0]

In [84]:
cobaprediksi = np.array(teslist, dtype=object)

In [85]:
cobaprediksi = cobaprediksi.reshape(1,-1)

In [86]:
cobaprediksi

array([[1, 0, 0]], dtype=object)

In [87]:
prediksi = modelkita.predict(cobaprediksi)
print('Next Move Will Be: ', prediksi)

Next Move Will Be:  [2]