<a href="https://colab.research.google.com/github/KusumaatmaSyafadhi/kusumaatmas/blob/main/Py06_4SQLite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# (4)-SQLite Input/Output

In [8]:
import sqlite3
con = sqlite3.connect('score.db')

In [9]:
cur = con.cursor()
# Create table
cur.execute('''CREATE TABLE score
               (math integer, biology integer, average real)''')

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 60))

OperationalError: ignored

In [ ]:
#Read data from score.csv and Calculate the average score
import csv
with open('score.csv', newline='') as fin:
    csvreader = csv.reader(fin)
    for row in csvreader:
        math, biology = map(int,row)
        average = (math+biology)/2
        print(f"{math:>2} {biology:>2} {average:>4.1f}")

In [ ]:
#Read data from score.csv and Calculate the average score
import csv
with open('score.csv', newline='') as fin:
    csvreader = csv.reader(fin)
    for row in csvreader:
        math, biology = map(int,row)
        average = (math+biology)/2
        #print(f"{math:>2} {biology:>2} {average:>4.1f}")
        
        # Insert a row of data
        cur.execute(f"INSERT INTO score VALUES ({math},{biology}, {average})")

# Save (commit) the changes
con.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
con.close()

In [ ]:
#Read data from score.db and print the first 
import sqlite3
con = sqlite3.connect('score.db')
cur = con.cursor()
cur.execute('SELECT * FROM score')
print(cur.fetchone())
con.close()

In [ ]:
#Read data from score.db and print all scores 
import sqlite3
con = sqlite3.connect('score.db')
cur = con.cursor()
cur.execute('SELECT * FROM score')
print(cur.fetchall())
con.close()

In [ ]:
#Read data from score.db and print the passed 
import sqlite3
con = sqlite3.connect('score.db')
cur = con.cursor()
cur.execute('SELECT * FROM score WHERE average >=60')
print(cur.fetchall())
con.close()

In [ ]:
#Read data from score.db and list the scores
import sqlite3
con = sqlite3.connect('score.db')
cur = con.cursor()
for row in cur.execute('SELECT * FROM score'):
    print(row)

In [7]:
#Read data from score.db and list the scores
import sqlite3
con = sqlite3.connect('score.db')
cur = con.cursor()
for math, biology, average in cur.execute('SELECT * FROM score'):
    print(f"{math:>2} {biology:>2} {average:>4.1f}")

## Exercise: Read data from score.db and print math >=60 & biology <60

In [14]:
import sqlite3
con = sqlite3.connect('score.db')
cur = con.cursor()
for row in cur.execute('SELECT * FROM score'):
  print(f"{math>=60} {biology<60}")

## Exercise: list the scores from score.db ordered by ascending math score

In [11]:
import sqlite3
con = sqlite3.connect('score.db')
cur = con.cursor()
for row in cur.execute('SELECT * FROM score ORDER BY math ASC'):
  print(f"math")